<% if user_signed_in? %>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <%= link_to 'imPhoto', root_path, class: 'navbar-brand text-logo' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mr-4 mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to 'Мои фотографии', profiles_my_photos_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Мои подписки', profiles_subscribes_list_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Фотографии друзей', profiles_friends_photos_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to current_user.email, edit_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<% else %>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <%= link_to 'imPhoto', root_path, class: 'navbar-brand text-logo landing-text-logo' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mr-4 mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to 'Фотографии', photos_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'О проекте', pages_about_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Войти', new_user_session_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<% end %>